vibed-webapp

### https://raw.github.com/github/gitignore/52fcfa919c97ab0072a1dbb962f4d805b98dc99b/D.gitignore

# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst


